hotspot.log
*.iml
*.ipr
*.iws
target/
node
node_modules
classes/
/var
test-output/
/atlassian-ide-plugin.xml
.idea
.DS_Store
.classpath
.settings
.project
.tmp
.merge_file*
.sass-cache
temp-testng-customsuite.xml
test-output
src/main/webapp/dist
.externalToolBuilders
*~
