<!-- Main component for a primary marketing message or call to action -->
<ol class="breadcrumb">
    <li><a href="#/conference">Conferences</a></li>
    <li class="active">Planning</li>
</ol>
<div ng-repeat="currentDay in days">
    <label class="alert alert-info">{{currentDay}}</label>

    <table class="table table-responsive" >
        <thead>
            <tr>
                <th>Time</th>
                <th ng-repeat="location in locations">{{location}}</th>
            </tr>
        </thead>
        <tbody >
            <tr ng-repeat="(slot, sessionLocation) in sessions[currentDay]">
                <td>{{slot}}</td>
                <td ng-repeat="location in locations">
                    <a class="label label-primary" ng-show="sessionLocation[location]" ng-href="#/conference/{{ sessionLocation[location].sessionUrl }}">
                        {{ sessionLocation[location].title }}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>